#charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.chart {
    width: 350px;
    min-width: 200px;
    min-height: 300px;
}